.map-container {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

.general-container {
  padding: 15px;
}

#controls {
  background-color: white;
  padding: 10px;
  opacity: 0.6;
  color: black;
  font-size: 11px;
}

/* override theme styles */
body {
  min-width: 320px;
}

.container-fluid {
  padding: 0;
}

nav {
  padding: 0 15px !important;
  margin: 0 !important;
  border: none !important;
}

.play,
.pause {
  color: red !important;
}
